/* Phong cách mặc định (Máy tính - Desktop) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    flex-direction: column;
    gap: 10px;
	margin-top: -8.5px;
}

header .lg img {
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 150px;
    font-family: 'Avenir Light', sans-serif;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}



nav a:hover {
    color: #ECA3C8;
}

.container {
    margin-top: 5px;
    padding: 0 20%;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
}

.container .profile {
    display: flex;
    align-items: center;
    justify-content: center; /* Căn giữa nội dung bên trong */
    text-align: center;
}
}

.signature img {
    text-align: right;
    width: auto;
    height: 350px;
}

.info {
    text-align: left;
    width: 500px;
}

.info h1 {
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'Avenir Black Oblique', sans-serif;
    font-style: italic;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Avenir Light', sans-serif;
    font-style: italic;
}


/* Phong cách cho iPad (768px - 1024px) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
nav {
    gap: 80px; 
    }

.container {
    padding: 0 10%;
    }

.signature img {
    height: 250px; 
    }

.info {
    width: 100%; 
    text-align: center;
    }

.info h1 {
    font-size: 32px; 
    }

.info p {
    font-size: 14px;
    }
}

/* Phong cách cho Điện thoại (dưới 768px) */
@media screen and (max-width: 767px) {
    header {
        flex-direction: column; 
        gap: 20px;
    }

    nav {
        gap: 20px;
    }

    .container {
        padding: 0 5%;
    }

    .container .profile {
        flex-direction: column; 
        gap: 20px;
    }

    .signature img {
        height: 200px; 
    }

    .info {
        width: 100%;
        text-align: center; 
    }

    .info h1 {
        font-size: 45px; 
    }

    .info p {
        text-align: left;
        font-size: 12px;
    }

    .social-icons {
        justify-content: center; 
    }
} 

